<!doctype html>
<html>
<head>
    <title>Weather site </title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1 class="site-header">Weather Forecast</h1>
<ul class="nav">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
</ul>
<h3><%= title %></h3>