<%-include('partials/head') %>
<form id="weather-form" class="weather-form">
    <input type="text" name="place" placeholder="Enter a place">
    <button type="submit">Search</button>
</form>
<div id="forecast-result" class="forecast-result">
    
</div>
<%-include('partials/footer') %>